html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[data-theme="dark"] {
  --background-layout: #1b1732;
  --text-color: #fcfcfc;
}

[data-theme="light"] {
  --background-layout: #ecedf3;
  --text-color: #040716;
}
